.service {
  background-color: rgb(253, 245, 227);
}
.service h1 {
  margin: 60px auto;
  width: 50rem;
  font-size: 3.6rem;
  text-align: center;
  line-height: 1.7;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(32rem, 1fr)
  );
  gap: 3rem;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
}
.card h3 {
  margin-top: 15px;
  font-size: 2.2rem;
  color: #3b3b3b;
}
.card p {
  margin-top: 15px;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f76;
}

.card a {
  color: #ffa600;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}
.card a:hover .arrow {
  margin-left: 15px;
}

.arrow {
  margin-left: 5px;
  transition: all 0.3s linear;
}

.deparment__btn {
  margin: 40px auto;
  background-color: #ffa600;
  display: block;
  text-align: center;
}
