.hero {
  display: flex;
  padding-top: 50px;
  gap: 3rem;
  flex-wrap: wrap;
  background-color: linear-gradient(
    90deg,
    hsl(38, 100%, 98%) 21.32%,
    hsl(144, 45%, 98%) 130%
  );
}
.hero__content {
  flex: 1 1 30rem;
}

.hero__content h1 {
  font-size: 6.8rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 40px;
}

.hero__content p {
  font-size: 1.8rem;
  margin-top: 30px;
  color: #6f6f76;
  line-height: 1.8;
}

.hero__content .hero__btn {
  margin-top: 30px;
  background-color: #fbc01d;
}

.hero__img {
  flex: 1 1 38rem;
}

.hero__img img {
  width: 100%;
  height: 100%;
}
